/* Ukloniti prazne linije koda */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&display=swap");

#hr {
  margin: -25px auto;
  background-color: #ff0000;
  width: 350px;
  height: 1px;
}

section {
  font-family: "Montserrat", sans-serif;
  margin: 2rem auto;
  width: 95%;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  margin-bottom: -50px;
  font-size: 2.2rem;
  margin-top: 85px;
}

ul {
  width: 100%;

  margin: 75px 30px 350px;
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  row-gap: 25px;

  padding: 10px;
}

li {
  display: flex;
  background-color: #c5b7b7bb;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  width: 400px;
  height: 250px;
}

li img {
  background-color: white;
  width: 160px;
  height: 220px;
  object-fit: contain;
  margin: 15px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(68, 67, 67);
}

.info {
  margin-left: 10px;
  flex-direction: column;
}

.info h4 {
  font-size: 1.5rem;
}

.info p {
  margin: -20px 3px 0 0;

  color: rgba(0, 0, 0, 0.5);
}

.info button {
  margin-top: 20px;
  margin-left: 75px;
  width: 120px;
  border: 1px solid rgb(255, 13, 13);
  border-radius: 20px;
  background-color: #ff3333;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 5px rgb(68, 67, 67);
  text-transform: uppercase;
}

#popular {
  margin-top: -305px;
}

#angle-left {
  height: 50px;
  width: 50px;
}

#angle-right {
  height: 50px;
  width: 50px;
}

button:hover {
  background-color: #FF8989;
  border: 1px solid #FF8989;
}